<?xml version="1.0" encoding="UTF-8"?>
<web-app
        version="4.0"
        xmlns="http://xmlns.jcp.org/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>PlantFamilyServlet</servlet-name>
        <servlet-class>com.lab3.servlets.PlantFamilyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlantServlet</servlet-name>
        <servlet-class>com.lab3.servlets.PlantServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PlantFamilyServlet</servlet-name>
        <url-pattern>/families/find</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlantFamilyServlet</servlet-name>
        <url-pattern>/families/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlantFamilyServlet</servlet-name>
        <url-pattern>/families/all</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlantFamilyServlet</servlet-name>
        <url-pattern>/families/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlantFamilyServlet</servlet-name>
        <url-pattern>/families/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlantFamilyServlet</servlet-name>
        <url-pattern>/families/read</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlantServlet</servlet-name>
        <url-pattern>/plants/find</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlantServlet</servlet-name>
        <url-pattern>/plants/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlantServlet</servlet-name>
        <url-pattern>/plants/all</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlantServlet</servlet-name>
        <url-pattern>/plants/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlantServlet</servlet-name>
        <url-pattern>/plants/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlantServlet</servlet-name>
        <url-pattern>/plants/read</url-pattern>
    </servlet-mapping>
</web-app>
